<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visa App - About Us</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Visa App</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">About Us</a></li>
          </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <h2>About Company Page</h2>
            <h4>Lorem ipsum..</h4> 
            <p>Lorem ipsum..</p>
          </div>
        </div>
    </div>
</body>
</html>